body
{
    margin: 0;
    padding: 0;
    background-color: black;
}
.main-div
{

    width: 30%;
    margin: auto;
    background-color: rgba(95, 94, 94, 0.897);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    margin-top: 5%;
    border-radius: 10px;
    position: relative;
}
.main-div>button
{
    display: block;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 35px;
    background-color:rgba(12, 12, 12, 0.548);
    border: 0.5px solid rgb(194, 191, 191);
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}
.main-div>p
{
    margin-top:15px;
    margin-bottom:15px;
    text-align: center;
}
.main-div>input
{
    margin-left: 17%;
    height: 40px;
    width: 60%;
    padding-left: 20px;
    background-color: rgba(12, 12, 12, 0.548);
    border: 0.5px solid rgb(194, 191, 191);
    border-radius: 5px;
    margin-bottom: 25px;
}

.glow::before , .glow::after
{
     content: ' ';
     left: -5px;
     top: -5px;
     position: absolute;
     background: linear-gradient(45deg , blue ,red,aqua,orange,green);
     background-size: 400%;
     width: calc(100% + 10px);
     height: calc(100% + 10px);
     z-index:-1;
     animation: glows 20s reverse infinite;
     border-radius: inherit;
}

@keyframes glows {
    
0%
{
    background-position: 0 0;
}
50%
{
    background-position: 400% 0;
}
100%
{
    background-position: 0 10%;
}

}

.glow::after
{
    filter: blur(8px);
}